html {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #FFA8B3;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2vw;
  font-family: monospace;
}

.Menu-link {
  color: white;
}

h1,
h2 {
  font-family: monospace;
}

img {
  width: auto;
  height: 100%;
  margin: auto;
  max-width: 3000px;
  max-height: 3000px;
}

.text-content {
  font-size: 2vw;
}

footer a {
  color: white;
}

p {
  color: white;
  font-size: 2vw;
}

span {
  color: white;
}

#container {
  width: 80vw;
  margin: auto;
}

#hearts {
  height: 5vw;
  width: 10vw;
  margin: auto;
}

#banner {
  width: 90vw;
  height: 20vw;
  margin: 10px;
  max-width: 3000px;
  max-height: 3000px;
}

#picture {
  width: 33.5vw;
  height: 33.5vw;
  border: 1vw solid white;
  border-radius: 1vw;
  padding: 0.5vw;
  margin: 0.5vw;
}

#box {
  width: 33.5vw;
  height: auto;
  border: 1vw solid white;
  border-radius: 1vw;
  padding: 0.5vw;
  margin: 0.5vw;
  overflow: hidden;
  font-size: 2vw;
}

.card {
  width: 30vw;
  height: auto;
  border: 1vw solid white;
  background-color: #ffffff1d;
  border-radius: 2vw;
  flex-grow: 1;
  overflow: hidden;
  box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
}

.cards {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
  gap: 1vw;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vw;
}

@media (min-width: 1200px) {
  body {
    font-size: 1vw;
  }

  .text-content {
    font-size: 1vw;
  }

  p {
    font-size: 1vw;
  }
  #picture {
    width: 13vw;
    height: 13vw;
    border: 1vw solid white;
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
  }
  
  #box {
    width: 13vw;
    height: auto;
    border: 1vw solid white;
    border-radius: 1vw;
    padding: 0.5vw;
    margin: 0.5vw;
    overflow: hidden;
    font-size: 1vw;
  }
  
  .card {
    width: auto;
    height: auto;
    border: 1vw solid white;
    background-color: #ffffff1d;
    border-radius: 2vw;
    flex-grow: 1;
    overflow: hidden;
    box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
  }

  .cards {
    flex-direction: row;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 0.8vw;
  }

  .text-content {
    font-size: 0.8vw;
  }

  p {
    font-size: 0.8vw;
  }

  #picture {
    width: 14vw;
    height: 14vw;
    border: 0.5vw solid white;
    border-radius: 0, 5vw;
    padding: 0.3vw;
    margin: 0.5vw;
    font-size: 0.8vw;
  }

  #box {
    width: 14vw;
    border: 0.5vw solid white;
    border-radius: 0, 5vw;
    padding: 0.3vw;
    margin: 0.5vw;
    font-size: 0.8vw;
  }

  .cards {
    flex-direction: row;
  }

}